{{#block "base"}}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>

<body>
      <div class="container-fluid">

        <nav class="navbar navbar-expand-sm bg-light">
          <div class="container-fluid">
            <!-- Links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/products">Catalog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link 3</a>
              </li>
            </ul>
            <div>
              <div>
                {{#if user}}
                  Hi, {{user.username}}
                  <a href="/cart" class="btn btn-success btn-sm">Cart</a>
                  <a href="/user/logout" class="btn btn-secondary btn-sm">Logout</a>
                {{else}}
                  Welcome, guest. 
                  <a href="/users/login" class="btn btn-primary btn-sm">Login</a>
                {{/if}}

              </div>
          </div>
        </nav>

<!--Flash Alert Messages goes before the block content-->
  {{#if success_messages}}
  <div class="alert alert-success">
    {{#each success_messages}}
    {{this}}
    {{/each}}
  </div>
  {{/if}}

  {{#if error_messages}}
  <div class="alert alert-danger">
    {{#each error_messages}}
    {{this}}
    {{/each}}
  </div>
  {{/if}}

  {{#block "content"}}
  {{/block}}

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  {{#block 'js'}}
  {{/block}}
</body>

</html>
{{/block}}