{{#extends 'base'}}

{{#block 'content'}}
<h1 class="mx-3">Create New Product</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" value="Add Product" class="btn btn-primary mx-3"/>
</form>
{{/block}}

{{/extends}}